<!DOCTYPE html>
<html lang="en" ng-app="myModule">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="scripts/angular.js"></script>
    <script src="scripts/script.js"></script>
    <script src="scripts/filters.js"></script>
    <link href="styles.css" rel="stylesheet"></link>
</head>

<body>

    <div ng-controller="myController">
       <input type="checkbox" ng-model="hideSalary" /> Hide Salary
        <br /><br />
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>City</th>
                    <th ng-hide="hideSalary">Salary</th>
                    <th ng-show="hideSalary">Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees">
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.gender }}</td>
                    <td>{{ employee.city }}</td>
                    <td ng-hide="hideSalary">{{ employee.salary }}</td>
                    <td ng-show="hideSalary">####</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>